body {
    padding-top: 80px;
}
.navbar-right .navbar-form input {
    margin-right: 10px;
}
.navbar-right .navbar-form a.btn {
    margin-left: 10px;
}
.toast-top-right {
    top: 70px;
}
footer {
    padding-left: 120px;
    padding-right: 120px;
}
footer p {
    border-top: 1px solid #808080;
    padding-top: 10px;
}

ul.games li {
    display: inline-block;
    text-decoration: none;
    margin: 10px;
}

img{
    width: 100%;
    height: 100%;
}

.img-container {
    margin: 10px;
}

.fieldlist {
    margin: 0 0 -2em;
    padding: 0;
}

.fieldlist li {
    list-style: none;
    padding-bottom: 2em;
}

.fieldlist label {
    display: block;
    padding-bottom: 1em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: #444;
}

.fieldlist input{
    width: 80%;
}
