.container(ng-controller="NotAuthorizedCtrl")
   .well
      h1.text-center You are not authorized to view this page!
      h2.text-center Please Login/Register to continue!
      div
         img(src="http://ichef.bbci.co.uk/images/ic/976x549_b/p00nrb8w.jpg")