.container
   .well.text-center
      h2 Telerik PCMania Project
   .row
      .well
         table.table.table-bordered
            caption.text-center Our Team
            tr
               th Team member
               th Telerik account
            tr
               td Ivan Nikolov
               td Ivan_Nik
            tr
               td Vyara Hristova
               td vyarah
            tr
               td Kiril Borisov
               td borisov.kiril760
