.container
#myCarousel.carousel.slide(data-ride='carousel', interval='myInterval')
    // Indicators
    ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
        li(data-target='#myCarousel', data-slide-to='3')
        li(data-target='#myCarousel', data-slide-to='4')
    .carousel-inner.row
        .item.active.col-md-12
            img(src="http://www.puremzine.com/wp-content/uploads/2015/10/Best-Games.jpg")
            .container
                .carousel-caption
                    h1 PC Mania
                    p The Best Game Reviews out there!

                    p
                        a.btn.btn-lg.btn-primary(href="#/games", role='button') View All Games


        .item.span12(ng-repeat="game in games | orderBy: '-released' | limitTo: 4")
            img(src="{{game.image}}")
            .container
                .carousel-caption
                    h1 {{game.title}}
                    p Rating: {{game.rating}}

                    p
                        a.btn.btn-lg.btn-primary(href="#/games/{{ game._id }}", role='button') View Details

// /.carousel

