doctype
html
    head
        title Telerik PC Mania Gaming Reviews
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.css")
        link(rel="stylesheet" href="/css/style.css")
    body(ng-app="app")
        block main-content

        include scripts
        //include currentUser