doctype
html
    head
        title Telerik PC Mania Gaming Reviews
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="https://kendo.cdn.telerik.com/2014.1.318/styles/kendo.common.min.css")
        link(rel="stylesheet" href="https://kendo.cdn.telerik.com/2014.1.318/styles/kendo.default.min.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.css")
        link(rel="stylesheet" href="/css/style.css")
    body(ng-app="app")
        block main-content

        include scripts
        include currentUser