.container
    .well
        form.form-horizontal(name="addGameForm")
            fieldset
                legend Add new game
                .form-group
                    label.col-md-2.control-label(for="game-title") Game Title
                    .col-md-10
                        input.form-control(id ="game-title", type="text", placeholder="Game Title", ng-model="", required)
                .pull-right
                    button.btn.btn-primary(ng-click="", ng-disabled="profileForm.$invalid") Add
                    a.btn.btn-primary(href="#/") Cancel