.container
    h2 {{ game.title }}
    p Released: {{ game.released | date }}
    p Rating: {{game.rating}}
    div
        img(src="{{game.image}}")

    ul.games Tags:
        li(ng-repeat="tag in game.tags")  {{ tag }}
    ul.games Platforms:
        li(ng-repeat="platform in game.platforms")  {{ platform }}
    ul.games Reviews:
        li(ng-repeat="review in game.reviews")  {{ review.text }}